= provide(:title, 'All users')

%h1 Users list
- @users.each do |user|
	.row.users
		.col-md-3.text-top
			= gravatar_for user
			= user.login
		.col-md-3.text-middle
			= user.email
		.col-md-2
			= link_to 'delete', 'delete_path'