%ul.nav.navbar-nav
  %li= link_to "Home", '/'
  %li= link_to "People", '#'
  %li= link_to "Aferzasta", '#'
  %li= link_to "Schedule", '#'
  %li= link_to "Music", '#'
  %li= link_to "Recording Studio", '#'
  %li= link_to "News", '#'
  %li= link_to "About", about_path
  %li= link_to "Advertising", '#'
  %li= link_to "PRA", '#'
  %li= link_to "Contact", contact_path
  %li= link_to "Sign up", '#'